@mixin font-main(
  $font-size: 1rem,
  $font-weight: 400,
  $font-style: normal,
  $line-height: 1
) {
  font-family: $font-main-name;
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin font-second(
  $font-size: 1rem,
  $font-weight: 400,
  $font-style: normal,
  $line-height: 1
) {
  font-family: $font-main-name;
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
  line-height: $line-height;
}
