$dark: #000;


$green: #285C5A;
$gray: #D7DDDD;
$red: #F9ADAD;
$text-grey: #C0C6C6;



$light_blue: #3255ff;
$orange: #ff7800;
$dark_bg: #000;
$background-dark-grey: #1a1a1a;
$text-color: #121212;


$background-grey: #ededed;
$fonts-path: "../assets/fonts";
$font-main-name: 'Lato';
$font-second-name: 'Playfair Display';


$xs: "max-width: 575.98px";
$sm: "max-width: 767.98px";
$md: "max-width: 991.98px";
$lg: "max-width: 1199.98px";
$xl: "max-width: 1399.98px";

$min-md: "min-width: 991.98px";
$min-lg: "min-width: 1199.98px";
$min-xl: "min-width: 1399.98px";